@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/WorkSans/WorkSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('/assets/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-work-sans: 'Work Sans', sans-serif;
    --font-libre-serif: 'Libre Baskerville', serif;
    --standard-green: #4e8d6b;
    --standard-gray: #3F4447;
    --standard-purple: #91639B;
    --standard-radius: 27px;
    --mobile-width: 390px;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: var(--font-work-sans);
}

#media-level::before {
    display: block;
    content: "Desktop";
    color: white;
    font-size: 16px;
    position: fixed;
    top: 0;
    z-index: 5;
}

.fill-button {
    white-space: nowrap;
    background-color: var(--standard-green);
    border: solid 2px;
    border-color: var(--standard-green);
    color: white;
    /* for transparent text in button */
    /* color: black;
    mix-blend-mode: exclusion; */

    padding: 9px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: var(--font-work-sans);
    font-size: 20px;
    font-weight: 500;
    border-radius: var(--standard-radius);
    transition: 0.2s;

    &:hover {
        background-color: white;
        color: var(--standard-green);
        /* for transparent text in button */
        /* mix-blend-mode: normal;  */
        transition-timing-function: ease-in-out;
        cursor: pointer;
    }
}


.outline-button {
    white-space: nowrap;
    background-color: transparent;
    border: solid 2px;
    border-color: var(--standard-green);
    color: var(--standard-green);
    padding: 9px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: var(--font-work-sans);
    font-size: 20px;
    font-weight: 500;
    border-radius: var(--standard-radius);
    transition: 0.2s;

    &:hover {
        background-color: var(--standard-green);
        color: white;
        transition-timing-function: ease-in-out;
        cursor: pointer;
    }
}

a {
    color: var(--standard-green);
}

a:visited {
    color: var(--standard-purple);
}

a:hover {
    color: var(--standard-green);
}

a:visited:hover {
    color: white;
}

.footer-fill-button {
    margin: 10px 0px;
    white-space: nowrap;
    background-color: #FFF;
    border: solid 2px;
    border-color: #FFFFFF;
    color: var(--standard-green);
    padding: 9px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: var(--font-work-sans);
    font-size: 20px;
    font-weight: 500;
    border-radius: var(--standard-radius);
    transition: 0.2s;

    &:hover {
        background-color: var(--standard-green);
        color: white;
        transition-timing-function: ease-in-out;
        cursor: pointer;
    }
}

.footer-outline-button {
    margin: 10px 0px;
    white-space: nowrap;
    background-color: transparent;
    border: solid 2px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    padding: 9px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: var(--font-work-sans);
    font-size: 20px;
    font-weight: 500;
    border-radius: var(--standard-radius);
    transition: 0.2s;

    &:hover {
        background-color: white;
        color: var(--standard-green);
        /* for transparent text in button */
        /* mix-blend-mode: normal;  */
        transition-timing-function: ease-in-out;
        cursor: pointer;
    }

}

#section-one {
    position: relative;
}

#section-one video {
    width: 100%;
}

#section-one .container {
    text-align: center;
    color: white;
    font-family: "Work Sans";
}

#section-one .banner {
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

#section-one .desktop-nav-row {
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    font-size: 20px;

    & a {
        color: white;
        text-decoration: none;
    }

    & a:visited {
        color: white;
    }
}

#section-one .tablet-mobile-nav-row {
    display: none;
}

#section-one .topnav {
    overflow: hidden;
    background-color: transparent;
    position: relative;
    text-align: right;

    & #myLinks {
        display: none;
    }

    & div {
        padding-bottom: 10px;
    }

    & a {
        color: white;
        text-decoration: none;
    }

    & a:visited {
        color: white;
    }

    & a.icon {
        background: transparent;
        display: block;
        position: relative;
        right: 0;
        top: 0;
    }
}

#section-one .title {
    font-weight: 700;
    font-size: 24px;
    flex: 1;
    text-align: start;
}

#section-one .bottom-left {
    position: absolute;
    bottom: 40px;
    left: 0;
    padding: 42px;
    max-width: 358px;
    text-align: start;
}

#section-one .tag {
    font-family: var(--font-libre-serif);
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}

#section-one .description {
    padding: 15px 0px 10px 0;
    font-size: 20px;
}

#section-one .button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 390px) {
    #media-level::before {
        content: "Mobile";
    }
}

#section-two {
    position: relative;
}

#section-two .flex-container {
    display: flex;
    padding: 40px;
    justify-content: space-evenly;
    align-items: center;
}

#section-two .flex-content {
    max-width: 25vw;
}

#section-two .title {
    font-family: var(--font-libre-serif);
    font-size: 32px;
    font-weight: 700;
    color: #2D2D2D;
}

#section-two .description {
    font-size: 16px;
    font-weight: 500;
    color: #4E4E4E;
}

#section-two img {
    display: block;
    max-width: 25vw;
    height: auto;
    border-radius: var(--standard-radius);
}

#section-two .learn-more {
    background-color: #e0e0e0;
    border-radius: var(--standard-radius);
    padding: 20px;
}

#section-two .get-started {
    padding: 20px;
    border: solid 2px var(--standard-green);
    border-radius: var(--standard-radius);
}

@media only screen and (max-width: 745px) {
    #media-level::before {
        content: "Tablet";
    }

    #section-one .desktop-nav-row {
        display: none;
    }

    #section-one .tablet-mobile-nav-row {
        display: block;
    }

    #section-one .banner {
        align-items: start;
    }

    #section-one .bottom-left {
        bottom: 0px;
    }

    #section-two .flex-container {
        display: block;
        padding: 60px 15%;
    }

    #section-two .flex-content {
        max-width: 100%;
    }

    #section-two img {
        max-width: 100%;
        height: auto;
        width: 100%;
        margin: 15px 0;
    }

    #section-two .learn-more,
    .get-started {
        margin: 15px 15%;
    }
}

#section-three {
    position: relative;
    background-color: #e4e4e4;
    padding: 20px;
}

#section-three .cover-img {
    display: block;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#section-three .title {
    text-align: center;
    font-family: var(--font-libre-serif);
    font-size: 36px;
    font-weight: 700;
    color: var(--standard-gray);
    padding: 20px;
}

#section-three .flex-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-bottom: 20px;
}

#section-three .flex-item {
    max-width: 500px;
    padding: 20px;
}

#section-three .svg-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 2px;
}

#section-three .review {
    text-align: start;
    margin-top: 10px;
}

#section-three .yelp {
    text-align: center;
}

#section-three a {
    color: var(--standard-gray);
    text-decoration: none;
    font-size: 20px;
}

#section-four {
    background-color: #fff;
    padding: 20px;
}

#section-four .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 40px;
}

#section-four .flex-item {
    padding: 20px;
    max-width: 25vw;
}

#section-four .title {
    font-size: 32px;
    font-weight: 700;
    font-family: var(--font-libre-serif);
    color: var(--standard-green);
}

#section-four .description {
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

#footer {
    position: relative;
    background-color: var(--standard-green);
    padding: 40px;
}

#footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#footer .flex-item {
    max-width: 20vw;
}

#footer .title {
    font-family: var(--font-libre-serif);
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 20px 0;
}

#footer .description {
    font-family: var(--font-work-sans);
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}

#footer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

#footer .nav-list {
    display: flex;
    flex-direction: column;
    height: 50%;
}

#footer .nav-link {
    flex: 1;
}

#footer .logo-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}